<img class="avatar" src="/images/wangyaodi.png" alt="Andy Wang" />
为了练习写作，我开了一个微信公众号<a href='/2015/10/25/why-to-practise-writing-an-article.html'>【爱成长】</a>，每篇Blog都会同步在该公众号中发布，请感兴趣的朋友关注我的微信公众号，微信ID：i-chengzhang 谢谢！

