---
changefreq: monthly
priority: 0.7
---

<article class="post profile">

  <header>
    <h2 class="title"><span style="color:rgb(162, 9, 9);">@yorzi</span>'s presentations</h2>
  </header>

  <aside class="aside-block">
    <ul class="meta">
      <li class="author-photo">
        <a href="<%= data.author['dingding'].link %>">
          <%= image_tag data.author['dingding'].avatar %>
        </a>
      </li>
      <li class="author">
        <strong><%= data.author['dingding'].name %></strong>
        <br>西安, 中国
        <br>自由职业</a>
      </li>
    </ul>
  </aside>

  <div class="content">

    <p>
      <a href="/files/20131219-weixin-platform.pdf">20131219-weixin-platform-intrduction.pdf</a> @RubyistsParty (西安)<br />
      <a href="/files/20131219-git-workflow-practice.ppt">20131219-git-workflow-practice.ppt</a> @RubyistsParty (西安)<br />
      <a href="/files/20131116-Full-Stack-Practices-in-Rails-Development.pdf">20131116-Full-Stack-Practices-in-Rails-Development.pdf</a> @RubyistsParty (西安)<br />
      <a href="/files/20130923-HTML5-Storage-Cache.pdf">20130923-HTML5-Storage-Cache.pdf</a> @IntrideaTeahour (GTM)<br />
      <a href="/files/20130721-RESTful-API-On-Grape.pdf">20130721-RESTful-API-On-Grape.pdf</a> @OpenParty (西安)<br />
      <a href="/files/20130719-remote-working.pdf">20130719-remote-working.pdf</a> @RubyistsParty (西安)<br />
      <a href="/files/20130520-the-mina-way.ppt">20130520-the-mina-way.ppt</a> @IntrideaTeahour (GTM)<br />
      <a href="/files/20130422-map-basics-for-noob.pdf">20130422-map-basics-for-noob.pdf</a> @IntrideaTeahour (GTM)<br />
      <a href="/files/20110830-git-workflow-practice.pptx">20110830-git-workflow-practice.pptx</a> @RailsWed (北京)<br />
      <a href="/files/20110807-blog-as-professional.pdf">20110807-blog-as-professional.pdf</a> @RailsWed (北京)<br />
      <a href="/files/20110724-rapid-ruby-api-on-grape.pdf">20110724-rapid-ruby-api-on-grape.pdf</a> @RailsMeetup (北京)<br />
      <a href="/files/20110512-riding-on-rails3-with-full-stack-of-gems.pdf">20110512-riding-on-rails3-with-full-stack-of-gems.pdf</a> @IntrideaTeahour (GTM)<br />
    </p>

    <ul class="connect">
      <li><a href="mailto:wangyaodi@gmail.com"><i class="icon-envelope"></i></a></li>
      <li><a href="//github.com/yorzi"><i class="icon-github"></i></a></li>
      <li><a href="//weibo.com/yorzi"><i class="icon-weibo"></i></a></li>
      <li><a href="//twitter.com/yorzi"><i class="icon-twitter"></i></a></li>
      <li><a href="//facebook.com/yorzi"><i class="icon-facebook"></i></a></li>
      <li><a href="//cn.linkedin.com/in/yorzi"><i class="icon-linkedin"></i></a></li>
    </ul>
  </div>

</article>
