---
changefreq: monthly
priority: 0.7
---

<article class="post profile">

  <header>
    <h2 class="title">About <span style="color:red;">@yorzi</span></h2>
  </header>

  <aside class="aside-block">
    <ul class="meta">
      <li class="author-photo">
        <a href="<%= data.author['dingding'].link %>">
          <%= image_tag data.author['dingding'].avatar %>
        </a>
      </li>
      <li class="author">
        <strong><%= data.author['dingding'].name %></strong>
        <br>西安, 中国 
        <br>自由职业 @ <a href='http://intridea.com'>Intridea</a>
      </li>
    </ul>
  </aside>

  <div class="content">

    <p>远程工作者，高级Ruby/Rails工程师，<a href="http://weibo.com/rubyists">西安Rubyists</a> 活动组织者，<a href="https://plus.google.com/u/0/114935565019424673192/posts">西安GDG</a> 组织者。</p>

    <p>如果你在远程工作、团队协作、项目管理、活动组织策划方面需要意见，你可以通过以下方式找到他:</p>

    <ul class="connect">
      <li><a href="mailto:wangyaodi@gmail.com"><i class="icon-envelope"></i></a></li>
      <li><a href="//github.com/yorzi"><i class="icon-github"></i></a></li>
      <li><a href="//weibo.com/yorzi"><i class="icon-weibo"></i></a></li>
      <li><a href="//twitter.com/yorzi"><i class="icon-twitter"></i></a></li>
      <li><a href="//facebook.com/yorzi"><i class="icon-facebook"></i></a></li>
      <li><a href="//cn.linkedin.com/in/yorzi"><i class="icon-linkedin"></i></a></li>
    </ul>
  </div>

</article>
